Package: com.pNre.noannoyance
Name: NoAnnoyance
Depends: mobilesubstrate, preferenceloader, firmware (>= 7)
Version: 0.1.0
Architecture: iphoneos-arm
Description: Tame iOS annoying alerts!
Depiction: http://repo.pnre.co.vu/depics/noannoyance/
Maintainer: pNre <pnre00+noannoyance@gmail.com>
Author: pNre <pnre00+noannoyance@gmail.com>
Section: Tweaks
Icon: file:///Library/PreferenceLoader/Preferences/NoAnnoyance/NoAnnoyance@2x.png