<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>NoAnnoyance</string>
	<key>items</key>
	<array>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>GloballyEnabled</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Always enable</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Enable in...</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.pNre.noannoyance.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>EnabledApps-</string>
			<key>ALChangeNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Fullscreen</string>
		</dict>
		<dict>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>GloballyEnabledInFullScreen</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Always enable</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Enable while in fullscreen in...</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.pNre.noannoyance.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>EnabledAppsInFullscreen-</string>
			<key>ALChangeNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Disabled alerts</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>SpringBoard</string>
			<key>detail</key>
			<string>NoAnnoyanceSBSettingsListController</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Mail</string>
			<key>detail</key>
			<string>NoAnnoyanceMLSettingsListController</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Siri</string>
			<key>detail</key>
			<string>NoAnnoyanceSRSettingsListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>NoAnnoyance (http://repo.pnre.co)</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter @_pNre</string>
		</dict>
	</array>
</dict>
</plist>
