<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>SpringBoard</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Data</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>EDGE_ALERT</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Cellular data is not enabled</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>CELLULAR_DATA_IS_TURNED_OFF_FOR_APP_NAME</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Cellular data is turned off for</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>AIRPLANE_CELL_PROMPT</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>No data in airplane mode</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>AIRPLANE_DATA_PROMPT</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Turn Off Airplane Mode or Use Wi-Fi</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Location</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>IMPROVE_LOCATION_ACCURACY_WIFI</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Location accuracy improved by enabling Wi-Fi</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>footerText</key>
			<string>* These options only block the alerts.</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Accessories</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>UNSUPPORTED_CHARGING_ACCESSORY</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Accessory not supported</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>ACCESSORY_UNRELIABLE</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Accessory not certified</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Battery</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>LOW_BATTERY_ALERT</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Low battery alert</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>File System</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>LOW_DISK_SPACE_ALERT</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Storage almost full</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icons</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>UPDATED_APP_DOT</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Updated dot</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
	</array>
</dict>
</plist>
