<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Siri</string>
	<key>items</key>
	<array>
		<dict>
			<key>footerText</key>
			<string>* A respring is needed to apply changes</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alert tones</string>
		</dict>
		<dict>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>SIRI_LISTEN_ALERT</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Listen</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>SIRI_CANCEL_ALERT</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Cancel</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
	</array>
</dict>
</plist>
