<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>NoAnnoyance</string>
	<key>items</key>
	<array>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>WorksInFullScreen</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.pNre.noannoyance/settingsupdated</string>
			<key>label</key>
			<string>Works in fullscreen apps</string>
			<key>defaults</key>
			<string>com.pNre.noannoyance</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Disabled alerts</string>
			<key>detail</key>
			<string>NoAnnoyanceSettingsListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>NoAnnoyance (http://repo.pnre.co.vu)</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter @_pNre</string>
		</dict>
	</array>
</dict>
</plist>
